<!-- # Google Search Form # -->
<div id="search-input">
    <form class="input-group" autocomplete="off" method="get" action="https://www.google.com/search" accept-charset="UTF-8" target="_blank">
        <input maxlength="80" type="search" id="search-field" name="q" class="form-input input-lg" placeholder="<%= __('search.placeholder') %>" required>
        <input type="hidden" name="sitesearch" value="https://theme-suka.skk.moe/demo">
        <button class="btn btn-primary input-group-btn btn-lg" type="submit"><%= __('search.main') %></button>
    </form>
</div>