<div hidden>
    <script language="javascript" type="text/javascript" src="http://js.users.51.la/<%- theme.analytics.51la_site_id %>.js"></script>
    <noscript><img src="http://img.users.51.la/<%- theme.analytics.51la_site_id %>.asp"></noscript>
</div>
