<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, maximum-scale=2, viewport-fit=cover">

<!-- Title -->
<title><%= page_title() %></title>

<!-- favicon -->
<%- partial('_partial/head/favicon', {}, {cache: theme.fragment_cache}) %>

<!-- Description -->
<meta name="description" content="<%= suka_descr() %>">

<!-- Keywords -->
<meta name="keywords" content="<%= suka_tags() %>">

<!-- Disable Fucking Bloody Baidu Tranformation -->
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />