<div class="fb-comments"
     data-href="<%= url_for(page.path) %>"
     data-numposts="<%= theme.comment.facebook.numposts %>"
     data-colorscheme="<%= theme.comment.facebook.colorschme %>"
     data-order-by="<%= theme.comment.facebook.orderby %>">
</div>