language: node_js
node_js:
  - "10"
git:
  depth: 2
  quiet: true
install:
  - npm install hexo-cli -g
before_script:
  - git clone https://github.com/theme-suka/hexo-theme-unit-test.git suka-theme-test --depth=5
  - cd suka-theme-test
  - rm -rf .git
  - npm i
  - chmod +x ./install-theme.sh
  - ./install-theme.sh
script:
  - chmod +x ./build.sh
  - ./build.sh
  - chmod +x ./deploy.sh
  - ./deploy.sh > /dev/null
cache:
  directories:
    - node_modules
    - themes/suka/node_modules