/**
 * Shades of Purple Theme — for Highlightjs.
 *
 * @author (c) Ahmad Awais <https://twitter.com/mrahmadawais/>
 * @link GitHub Repo → https://github.com/ahmadawais/Shades-of-Purple-HighlightJS
 * @version 1.5.0
 */

.highlight {
  display: block;
  overflow-x: auto;
  /* Custom font is optional */
  /* font-family: 'Operator Mono', 'Fira Code', 'Menlo', 'Monaco', 'Courier New', 'monospace';  */
  line-height: 1.45;
  padding: 2rem;
  background: #2d2b57;
  font-weight: normal;
}

.highlight .title {
  color: #fad000;
  font-weight: normal;
}

.highlight .name {
  color: #a1feff;
}

.highlight .tag {
  color: #ffffff;
}

.highlight .attr {
  color: #f8d000;
  font-style: italic;
}

.highlight .built_in,
.highlight .selector-tag,
.highlight .section {
  color: #fb9e00;
}

.highlight .keyword {
  color: #fb9e00;
}

.highlight,
.highlight .subst {
  color: #e3dfff;
}

.highlight .string,
.highlight .attribute,
.highlight .symbol,
.highlight .bullet,
.highlight .addition,
.highlight .code,
.highlight .regexp,
.highlight .selector-class,
.highlight .selector-attr,
.highlight .selector-pseudo,
.highlight .template-tag,
.highlight .quote,
.highlight .deletion {
  color: #4cd213;
}

.highlight .meta,
.highlight .meta-string {
  color: #fb9e00;
}

.highlight .comment {
  color: #ac65ff;
}

.highlight .keyword,
.highlight .selector-tag,
.highlight .literal,
.highlight .name,
.highlight .strong {
  font-weight: normal;
}

.highlight .literal,
.highlight .number {
  color: #fa658d;
}

.highlight .emphasis {
  font-style: italic;
}

.highlight .strong {
  font-weight: bold;
}
