
/*
  xt256.css

  Contact: initbar [at] protonmail [dot] ch
         : github.com/initbar
*/

.highlight {
  display: block;
  overflow-x: auto;
  color: #eaeaea;
  background: #000;
  padding: 0.5;
}

.highlight .subst {
  color: #eaeaea;
}

.highlight .emphasis {
  font-style: italic;
}

.highlight .strong {
  font-weight: bold;
}

.highlight .builtin-name,
.highlight .type {
  color: #eaeaea;
}

.highlight .params {
  color: #da0000;
}

.highlight .literal,
.highlight .number,
.highlight .name {
  color: #ff0000;
  font-weight: bolder;
}

.highlight .comment {
  color: #969896;
}

.highlight .selector-id,
.highlight .quote {
  color: #00ffff;
}

.highlight .template-variable,
.highlight .variable,
.highlight .title {
  color: #00ffff;
  font-weight: bold;
}

.highlight .selector-class,
.highlight .keyword,
.highlight .symbol {
  color: #fff000;
}

.highlight .string,
.highlight .bullet {
  color: #00ff00;
}

.highlight .tag,
.highlight .section {
  color: #000fff;
}

.highlight .selector-tag {
  color: #000fff;
  font-weight: bold;
}

.highlight .attribute,
.highlight .built_in,
.highlight .regexp,
.highlight .link {
  color: #ff00ff;
}

.highlight .meta {
  color: #fff;
  font-weight: bolder;
}
