<!-- Busuanzi Post Views -->
<span id="busuanzi_container_page_pv" hidden>
    <span class="suka-devide-dot"></span>
    <span><%- theme.busuanzi.post_pv.before %></span>
    <span id="busuanzi_value_page_pv"></span>
    <span><%- theme.busuanzi.post_pv.after %></span>
</span>