<!-- # Input # -->
<div id="search-input">
    <form class="input-group" autocomplete="off">
        <input maxlength="80" type="search" id="search-field" name="q" class="form-input input-lg st-default-search-input" placeholder="<%= __('search.placeholder') %>" required>
        <button class="btn btn-primary input-group-btn btn-lg" type="submit"><%= __('search.main') %></button>
    </form>
</div>