<div class="m-p-g" id="gallery-container">
    <div class="m-p-g__thumbs" data-google-image-layout data-max-height="<%= theme.uiux.gallery_height %>">
        <% if (site.data.gallery) { %>
            <% for (var i in site.data.gallery) { %>
                <img src="<%= site.data.gallery[i].thumb %>" data-full="<%= site.data.gallery[i].full %>" class="m-p-g__thumbs-img" alt="<%= i %>">
            <% } %>
        <% } %>
    </div>

    <div class="m-p-g__fullscreen"></div>
</div>

