<% var toc_obj = toc(page.content, {
    class: 'post-toc',
    list_number: true,
    style: 'max-height:80vh; overflow-y:scroll;'
}) %>

<div class="post-container">
    <article id="post-card" class="card">
        <% if(page.thumbnail) { %>
            <div class="card-image" style="background-image: url('<%= page.thumbnail %>');"></div>
        <% } %>
        <div class="card-item-container">
            <div class="card-inner-cell">
                <div class="card-header">
                    <h2 class="card-title h3 mb-0"><%= page.title %></h2>
                    <div class="card-subtitle text-gray">这里待会放点东西进去</div>
                </div>
                <div class="card-body">
                    <div id="post-toc" class="<% if(page.thumbnail) { %>post-toc-with-thumbnail<% } %>">
                        <%- toc_obj %>
                    </div>
                    <div id="post-content">
                        <%- page.content %>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary">...</button>
                </div>
            </div>
        </div>
    </article>
</div>