<div class="post-container">
    <div id="post-card" class="card">
        <div class="card-image" style="background-image:url(<%= page.thumbnail %>)"></div>
        <div class="card-header">
            <div class="card-title h5">...</div>
            <div class="card-subtitle text-gray">...</div>
        </div>
        <div class="card-body">
        ...
        </div>
        <div class="card-footer">
            <button class="btn btn-primary">...</button>
        </div>
    </div>
</div>