<div class="container">
    <div class="main-container">
        <main>
            <!-- # Title # -->
            <h2 class="page-title"><%= __("tag") + " : " + page.tag %></h2>
            <!-- # Post List # -->
            <div class="post-stream-container">
                <% page.posts.sort('date', -1).each(function(post){ %>
                    <%- partial('_partial/post-entry', { post: post, index: true, pin: false }) %>
                <% }) %>
            </div>
        </main>
        <%- partial('_partial/pagination') %>
    </div>
</div>