<div class="tagscloud">
    <%- tagcloud({
        min_font: 16,
        max_font: 35,
        amount: 9999,
        color: true,
        start_color: '#acb3c2',
        end_color: '#454d5d',
    }) %>
</div>