<div class="container">
    <main>
        <div class="tagscloud">
        <%- tagcloud({
            min_font: .75,
            max_font: 1.8,
            unit: 'rem',
            amount: 9999,
            color: true,
            start_color: '#acb3c2',
            end_color: '#454d5d',
        }) %>
        </div>
    </main>
</div>