
<div class="post-nav px-2 bg-gray">
<ul class="pagination">
    <!-- Prev Nav -->
    <% if (page.prev) { %>
        <li class="page-item page-prev">
            <a href="<%- url_for(page.prev.path) %>" rel="prev">
                <div class="page-item-title"><i class="icon icon-back" aria-hidden="true"></i></div>
                <div class="page-item-subtitle"><%= page.prev.title %></div>
            </a>
        </li>
    <% } %>

    <!-- Next Nav -->
    <% if (page.next) { %>
        <li class="page-item page-next">
            <a href="<%- url_for(page.next.path) %>" rel="next">
                <div class="page-item-title"><i class="icon icon-forward" aria-hidden="true"></i></div>
                <div class="page-item-subtitle"><%= page.next.title %></div>
            </a>
        </li>
    <% } %>
</ul>
</div>