<span id="<%= config.url %>" class="leancloud-visitors" data-flag-title="<%= config.title %>">
    <span><%- theme.valine_counter.site_pv.before %></span><!--
 --><span class="leancloud-visitors-count">0</span><!--
 --><span><%- theme.valine_counter.site_pv.after %></span>
</span>
