<span id="<%= url_for(post.path) %>" class="leancloud-visitors" data-flag-title="<%= post.title %>">
    <span><%- theme.valine_counter.index_post_pv.before %></span>
    <span class="leancloud-visitors-count">0</span>
    <span><%- theme.valine_counter.index_post_pv.after %></span>
</span>