<span class="suka-devide-dot"></span>
<span id="<%= url_for(page.path) %>" class="leancloud-visitors" data-flag-title="<%= page.title %>">
    <span><%- theme.valine_counter.post_pv.before %></span>
    <span class="leancloud-visitors-count">0</span>
    <span><%- theme.valine_counter.post_pv.after %></span>
</span>