<div class="container">
    <div class="main-container">
        <main>
            <div class="post-stream-container">
                <!-- # Post List # -->
                <% page.posts.each(function(post) { %>
                    <% if(!((typeof hasposttop === 'function') && post.top)) { %>
                        <%- partial('_partial/post-entry', { post: post, index: true, pin: false }) %>
                    <% } %>
                <% }); %>
            </div>
        </main>
        <%- partial('_partial/pagination') %>
    </div>
</div>
