<!DOCTYPE html>

<html style="display:none" <% if(config.language) { %>lang="<%- config.language %>"<% } %>>
    <%- partial('_partial/head/main') %>

    <body>
        <%- partial('_source/footer') %>
    </body>

</html>