<!DOCTYPE html>

<html <% if(config.language) { %>lang="<%- config.language %>"<% } %>>
    <%- partial('_partial/head/main') %>

    <body>
        <!-- ### Import File ### -->
        <%- partial('_partial/source/footer', {}, {cache: true}) %>
    </body>

</html>