<footer class="text-center">
    <div class="footer-copyright">Copyright&nbsp;©&nbsp;<span year></span>
        <a href="<%= config.url %>"><%= config.title %></a>
    </div>
    <div class="footer-text">
    </div>
    <div class="footer-develop">
        <div>Powered by&nbsp;<!--
         --><a href="https://hexo.io" target="_blank" class="footer-develop-a" rel="nofollow noopener noreferrer">Hexo</a><span class="footer-develop-divider"></span>Theme&nbsp;-&nbsp;<!--
         --><a href="https://github.com/SukkaW/hexo-theme-suka" target="_blank" class="footer-develop-a">Suka</a>
        </div>
    </div>
</footer>