<footer class="centered">
    <div class="footer-copyright">Copyright&nbsp;©&nbsp;<span year></span>
        <a href="<%= config.url %>"><%= config.title %></a>
    </div>
    <div class="footer-develop">
        <div>Powered by
            <a href="https://hexo.io" target="_blank" class="footer-develop-a">Hexo</a>
        </div>
        <div>Theme -
            <a href="https://github.com/SukkaW/hexo-theme-suka" target="_blank" class="footer-develop-a">Suka</a>
        </div>
    </div>
</footer>