<section class="navbar-section text-center">
    <div class="main-container divider"></div>
    <a href="..." class="navbar-link">Docs</a>
    <a href="..." class="navbar-link">GitHub</a>
    <a href="..." class="navbar-link">Docs</a>
    <a href="..." class="navbar-link">GitHub</a>
    <a href="..." class="navbar-link">Docs</a>
    <a href="..." class="navbar-link">GitHub</a>
    <a href="..." class="navbar-link">Docs</a>
    <a href="..." class="navbar-link">GitHub</a>
    <div class="main-container divider"></div>
</section>