<% if (page.total > 1) { %>
<nav>
<ul class="pagination">
    <% if (page.prev) { %>
        <li class="page-item page-prev">
            <a href="<%- url_for(page.prev.path) %>">
                <div class="page-item-title h5"><i class="icon icon-back"></i></div>
                <div class="page-item-subtitle"><%= __('nav.prev_page') %></div>
            </a>
        </li>
    <% } %>
    <% if (page.next) { %>
        <li class="page-item page-next">
            <a href="<%- url_for(page.next.path) %>">
                <div class="page-item-title h5"><i class="icon icon-forward"></i></div>
                <div class="page-item-subtitle"><%= __('nav.next_page') %></div>
            </a>
        </li>
    <% } %>
</ul>
</nav>
<% } %>
