<div class="post-entry card">
    <div class="card-image"><img class="img-responsive" src="https://picturepan2.github.io/spectre/img/osx-el-capitan.jpg" alt="OS X El Capitan"></div>
    <div class="card-header">
        <div class="card-title h5">Microsoft</div>
        <div class="card-subtitle text-gray">Software and hardware</div>
    </div>
    <div class="card-body">Empower every person and every organization on the planet to achieve more.</div>
    <div class="card-footer"><a class="btn btn-primary" href="#cards">Do</a></div>
</div>