<div id="sidebar-content">
    <%- partial('_partial/sidebar/header') %>
    <%- partial('_partial/sidebar/social') %>
    <ul class="nav">
        <%- partial('_partial/sidebar/navigation') %>
    </ul>
    <%- partial('_partial/sidebar/footer') %>
</div>